body {
  font-size: 14px;
}

/* This is the section at the top of the page that contains the header */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  width: 100%;
}

/* This begins the section of the webpage where the green and blue elements are */
section {
  margin: 0 auto;
  width: 60%;
}

/* H1 is the text in the yellow heading */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* example and h3 refer to all the text in the document so far*/
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/* H3 will be the text in the green and blue element boxes */
h3 {
  font-size: 1.3em;
}

/* element refers to the boxes that contain the body text */
.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}

/* element2 is where I change the BG color of the last three boxes blue */
.element2 {
  background-color: blue;
}
Change from clone
